# coding=utf-8

API_TOKEN = "YOUR_API_TOKEN"
SERVER_MODE = "sandbox"  # sandbox or production
SC_API_KEY = "SC_API_KEY"
SC_VOUCHER_HASH = []  # لیست کد های تخفیف
GUILD_CODE = "API_GUILD"  # کد صنفی که قصد دارید مبلغ فاکتورهای ایجاد شده به آن واریز شود

USER_ID =   # شناسه کاربری مشتری
PRODUCT_ID =     # شناسه محصولی که قبلا ثبت شده است
ACCESS_TOKEN = ""       # اکسس توکن کاربر